export DDNS_MODE=lazy-update
export DDNS_DOMAIN="{{ ddns_client_domain }}"
export DDNS_HOSTNAMES="{{ ddns_client_hostnames | join(' ') }}"
export DDNS_LOG_LEVEL={{ ddns_client_log_level }}

export DDNS_QUERY="{{ ddns_client_query }}"

export DDNS_PROVIDER="{{ ddns_client_provider }}"
export DDNS_CF_AUTHTYPE="{{ ddns_client_authtype }}"
export DDNS_CF_TOKEN="{{ ddns_client_token }}"
